// Button Override
.btn {
  display: inline-block;
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 7px;
}

.btn-primary {
  // We remove the !important declarations. Bootstrap will handle this
  // correctly if we set the variables properly in _variables.scss.
  // The migration to BS5 will be much easier this way.
  font-weight: 600;
  background-color: $primary;
  border-color: $primary;

  &:hover {
    background-color: darken($primary, 7.5%);
    border-color: darken($primary, 10%);
  }
}


.btn-lg {
  padding: 20px 50px;
}

.btn-light {
  color: $secondary;
  font-weight: 600;
  &:hover {
    color: $secondary;
  }
}

.btn-zoom {
  transition: all 0.3s ease;
  transform: scale(1);
  &:hover {
    box-shadow: 0 8px 20px rgba(181, 154, 105, 0.3);
    transform: scale(1.03);
  }
}
