{{ define "main" }}

{{ partial "page-header.html" . }}

<section class="section singleBlog">
  <div class="animate-shape">
    {{ partial "svg-blob.html" (dict "id" "single-blog") }}
  </div>
  <div class="animate-pattern" style="z-index:-10">
    {{ partial "image.html" (dict "Src" "images/service/background-pattern.svg" "Context" .) }}
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="singleBlog__feature">
          {{ partial "image.html" (dict "Src" .Params.postImage "Alt" .Title "Context" .) }}
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-12">
        <div class="singleBlog__content">

          {{ if .Params.toc }}
            <h3>Table of Contents</h3>
            {{ .TableOfContents | replaceRE "<ul>[[:space:]]*<li>[[:space:]]*<ul>" "<ul>" | replaceRE "</ul>[[:space:]]*</li>[[:space:]]*</ul>" "</ul>" |  safeHTML }}
          {{ end }}

          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}