{{ with .Site.Data.blogSection }}
{{ if .enable }}
<section class="section blog-preview pb-4 mb-4" id="blog">
	<div class="blog-preview__shape">
		{{ partial "image.html" (dict "Src" "images/blog/blog-shape.svg" "Alt" "blog shape" "Context" .) }}
	</div>
	<div class="container">
		<div class="row mb-5">
			<div class="col-lg-6">
				<div class="blog-preview__header">
					<span class="top-title pre-line">{{ .topTitle }}</span>
					{{ .title | markdownify }}
				</div>
			</div>
			<div class="col-lg-6">
				<div class="blog-preview__header_button desktop">
					<a class="btn btn-outline-secondary btn-zoom m-3" href="{{ .buttonTarget | absURL }}">See all posts</a>
				</div>
			</div>
		</div>

		<div class="row">
			{{ $recentPosts := where $.Site.RegularPages "Type" "in" (slice "blog") }}
			{{ range first 3 (sort $recentPosts "Date" "desc") }}
			    {{ partial "components/blog-card.html" . }}
			{{ end }}
		</div>
		
		<div class="row">
			<div class="col-lg-12">
				<div class="blog-preview__header_button mobile">
					<a class="btn btn-outline-secondary btn-zoom" href="{{ .buttonTarget | absURL }}">See all posts</a>
				</div>
			</div>
		</div>
	</div>
</section>
{{ end }} {{ end }}