<!-- Main JS bundle -->
{{ $mainJS := resources.Get "js/main.js" }}
{{ if $mainJS }}
	{{ $jsBundle := $mainJS | js.Build (dict "minify" true) }}
	<script src="{{ $jsBundle.Permalink }}" defer></script>
{{ else }}
    {{ errorf "Failed to find js/main.js" }}
{{ end }}

<!-- Old script tags below are now replaced by the bundle above -->
<!--
<script src="{{ "plugins/jQuery/jquery.min.js" | absURL }}"></script>
<script src="{{ "plugins/bootstrap/bootstrap.min.js" | absURL }}"></script>
<script src="{{ "plugins/slick/slick.min.js" | absURL }}"></script>
<script src="{{ "plugins/waypoint/jquery.waypoints.min.js" | absURL }}"></script>
<script src="{{ "js/script.js" | absURL }}"></script>
<script src="{{ "js/form-handler.js" | absURL }}"></script>
-->
