{{ with .Site.Data.grantsSection }}
{{ if .enable }}
<section class="section awards" id="awards">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-6 offset-lg-3">
        <div class="awards__header mb-5">
          <span class="top-title">{{ .topTitle }}</span>
          {{ .title | markdownify }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="awards-item-grid">
          {{ range .awards }}
          <div class="awards-item">
            <a {{ if .url }}href="{{ .url | absURL }}" target="_blank"{{ end }}>
              <img src="{{ .image | absURL }}" class="awards-item-thumb" alt="{{ .title }}" />
            </a>
            <div class="awards-item-content">
              <span>{{ .category }}</span>
              <h3 class="mb-0">
                <a class="text-dark" {{ if .url }}href="{{ .url | absURL }}" target="_blank"{{ end }}>{{ .title }}</a>
              </h3>
              <p style="margin-top: 10px;">{{ .description | markdownify }}</p>
              <div>
                {{ if .url }}
                  <a class="btn btn-sm btn-outline-secondary mt-2 mr-2" href="{{ .url | absURL }}" target="_blank">{{ .url_text | default "See details" }}</a>
                {{ end }}
                {{ if .url2 }}
                   <a class="btn btn-sm btn-outline-secondary mt-2" href="{{ .url2 | absURL }}" target="_blank">{{ .url2_text | default "More Info" }}</a>
                {{ end }}
              </div>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}