<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <!-- Logo -->
    <a href="{{ .Site.BaseURL }}" class="navbar-brand">
      {{ if .Site.Params.logo_text }}
        <span class="logo-text">{{ .Site.Params.logo_text }}</span>
      {{ else if .Site.Params.logo }}
        <img src="{{ .Site.Params.logo | absURL }}" alt="site-logo">
      {{ end }}
    </a>

    <!-- Desktop Menu (Hidden on Mobile) -->
    <div class="d-none d-lg-block mx-auto">
        <ul class="nav navbar-nav main-navigation">
            {{ range .Site.Menus.main }}
            <li class="nav-item">
              {{ if $.IsHome }}
                <a href="{{ .URL }}" class="nav-link text-dark p-2">{{ .Name }}</a>
              {{ else }}
                <a href="{{ .URL | relURL }}" class="nav-link text-dark p-2">{{ .Name }}</a>
              {{ end }}
            </li>
            {{ end }}
        </ul>
    </div>

    <!-- Right-side Controls (CTA and Mobile Toggler) -->
    <div class="ms-auto d-flex align-items-center">
        <!-- CTA Button -->
        <a href="#contact" class="btn btn-primary btn-zoom btn-pulse me-2">
            <span class="d-lg-none">Consultation</span>
            <span class="d-none d-lg-block">Schedule a Consultation</span>
        </a>
        
        <!-- Mobile Menu Toggler -->
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
  </div>
</nav>

<!-- Offcanvas Mobile Menu -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title logo-text" id="offcanvasNavbarLabel">{{ .Site.Params.logo_text | default "Menu" }}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
      {{ range .Site.Menus.main }}
      <li class="nav-item">
        {{ if $.IsHome }}
          <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
        {{ else }}
          <a class="nav-link" href="{{ .URL | relURL }}" class="nav-link text-dark p-2">{{ .Name }}</a>
        {{ end }}
      </li>
      {{ end }}
    </ul>
  </div>
</div>