<header class="breadCrumb">
  <div class="svg-img">
    {{ partial "image.html" (dict "Src" "images/hero/figure-svg.svg" "Context" .) }}
  </div>


  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h3 class="breadCrumb__title">{{ .Title }}</h3>
        <nav aria-label="breadcrumb" class="d-flex justify-content-center">
          <ol class="breadcrumb align-items-center">
            <li class="breadcrumb-item"><a href="{{ .Site.BaseURL }}">Home</a></li>
            {{ if .Parent }}
              <li class="breadcrumb-item"><a href="{{ .Parent.Permalink }}">{{ .Parent.Title }}</a></li>
            {{ end }}
            <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</header>