{{ with .Site.Data.resumeSection }}
{{ if .enable }}
<section class="section resume" id="resume">
    <div class="resume__background"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="resume__heading">
                    <div class="text-light">
                        <span class="top-title pre-line">{{ .topTitle }}</span>
                        {{ .title | markdownify }}
                    </div>
                    <p class="text-light mt-4">{{ .subtitle }}</p>

                    <div class="nav nav-pills flex-column w-100 mt-5" id="resume-tabs" role="tablist" aria-orientation="vertical">
                        <a href="#{{.tab1Target}}" class="nav-link active" id="tab-{{.tab1Target}}" data-bs-toggle="pill" role="tab" aria-controls="{{.tab1Target}}" aria-selected="true">{{ .tab1Name }}</a>
                        <a href="#{{.tab3Target}}" class="nav-link" id="tab-{{.tab3Target}}" data-bs-toggle="pill" role="tab" aria-controls="{{.tab3Target}}" aria-selected="false">{{ .tab3Name }}</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="{{.tab1Target}}" role="tabpanel" aria-labelledby="tab-{{.tab1Target}}">
                        {{ range .experience }}
                        <div class="resume__education_item">
                            <span class="pre-line text-primary"> {{ .time }} </span>
                            {{ .content | markdownify }}
                        </div>
                        {{ end }}
                    </div>

                    <div class="tab-pane fade" id="{{.tab3Target}}" role="tabpanel" aria-labelledby="tab-{{.tab3Target}}">
                        {{ range .education }}
                        <div class="resume__education_item">
                            <span class="pre-line text-primary"> {{ .time }} </span>
                            {{ .content | markdownify }}
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}