{{ with .Site.Data.testimonialSection }}
{{ if .enable }}
<section class="section testimonial">
    <div class="testimonial__background_shape">
        <svg viewBox="0 0 1920 79">
            <path d="M0 0h1920v79L0 0z" data-name="Path 1450" />
        </svg>
    </div>
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-6 offset-lg-3">
                <div class="testimonial__header">
                    <span class="top-title">{{ .topTitle }}</span>
                    {{ .title | markdownify }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!-- Swiper -->
                <div class="swiper testimonial-swiper">
                    <div class="swiper-wrapper">
                        {{ range .testimonial }}
                        <div class="swiper-slide">
                            <div class="testimonial__slider_item">
                                {{ if .star }}
                                <ul class="testimonial__slider_item-rating">
                                    {{ $rating := .star | int }}
                                    {{ range $i, $sequence := (seq 5) }}
                                    <li>{{ partial "components/icon.html" (dict "style" "solid" "name" "star" "class" (cond (gt (add $i 1) $rating) "inactive" "")) }}</li>
                                    {{ end }}
                                </ul>
                                {{ end }}
                                <p class="testimonial__slider_item-content"> {{ .comment | markdownify }} </p>
                                <p class="testimonial__slider_item-author"><span>{{ .name }}</span> | {{ .time }}</p>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}